;edn configuration file
;see https://github.com/edn-format/edn
{
 :name "server1"
 :topic-codecs {}
 :writer-basedir "target"
 :topic-basedirs {}
 :plugin-dirs [ "resources/conf/logging.clj"
                 "resources/plugins/sinks"
                 "resources/plugins/datasources"
                 "resources/plugins/channels"
                  "resources/plugins/processors"]
 
 :worker-queue java.util.concurrent.PriorityBlockingQueue
 
 :repl-port 7111
 
 :zk-url "localhost:7111"
 :zk-ns "pseidon"
 :roll-size 10485760
 }
