;edn configuration file
;see https://github.com/edn-format/edn
{
 :name "server1"
 :topic-codecs {}
 :writer-basedir "target"
 :topic-basedirs {}
 :plugin-dirs [(java.io.File. "resources/conf/logging.clj") 
                    (java.io.File. "resources/plugins/sinks")
                    (java.io.File. "resources/plugins/datasources") 
                    (java.io.File. "resources/plugins/channels") 
                    (java.io.File. "resources/plugins/processors")]
 
 :worker-queue java.util.concurrent.PriorityBlockingQueue
 }
