;edn configuration file
;see https://github.com/edn-format/edn
{
 :name "server1"
 :topic-codecs {}
 :writer-basedir "target"
 :topic-basedirs {}
 :plugin-dirs [ "resources/conf/logging.clj"
                 "resources/plugins/sinks"
                 "resources/plugins/datasources"
                 "resources/plugins/channels"
                  "resources/plugins/processors"]
 
 :pseidon-queue-path "/data/pseidon/queue" ;the internal persistent queue storage. 
 :psedon-queue-limit 30
 :psiedon-queue-type "chronicle"
 :repl-port 7112
 
 :zk-url "192.168.56.101:2181"
 :zk-ns "pseidon"
 :roll-size 10485760
 :roll-timeout 30000
 
 :tracking-db-dir "/tmp/pseidontracking"
 
 :view-port 8080
 
 ;messages in the tracking system older than this value are deleted there status are ignored
 :tracking.expire 2419200000 ; 4 weeks
 
 :hdfs-url "hdfs://localhost:8020" 
 
 :hdfs-dir-model 1 ; how files are uploaded to hdfs
                   ; 1 = uses a directory structure dt=yyyyMMdd/hr=yyyyMMddHH
                   ; 2 = uses a directory structure year=yyyy/month=MM/day=dd/hour=HH
  
 :hdfs-local-file-model 1 ; defines the expected local file format from which the date hour will be extracted
                          ; 1 = type_id_hr_yyyyMMddHH.extension
                          ; 2 = type_yyyMMddHH.extension
 :hdfs-base-dir "/log/raw"
  
 :default-codec org.apache.hadoop.io.compress.GzipCodec ;com.hadoop.compression.lzo.LzopCodec
 :file-write-threads 100 ;number of threads to dedicate to async file write
 
 :java-library-path "/opt/hadoopgpl/native/Linux-amd64-64/"
 
 ;use this property to include new plugins' jars on the classpath
 :classpath [
             "/opt/pseidon/lib/"
             "/opt/pseidon/lib-hadoop"
             "/opt/pseidon/resources"
             ] 
}
